{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
	<div class="col s12 m6">
		<p>This site is for educational purposes only. Data Centric Development Milestone Project number 3 for the
			CodeInstitute shows a responsive website using a MongoDB database, CRUD functionality and Flask, Python
			and some JavaScript. It runs on a Heroku cloud app server.</p>
        <p>The developer of the site is Sascha Andeweg, a student at CodeInstitute and hoping to become a qualified full stack webdeveloper.</p>
        <p>Limited time and many challenges made it necessary to limit the amount of features that were intended for the site. Therefor there's
            no authentication where there should be. So please handle with care.</p>
	</div>
	<div class="col s12 m6">
		<p>Your food - Your identity: FoodFromHome is a website helping you find the food you had at home, the food
			you grew up with.
			The food you would show off when living in Ireland. Because it's part of who you are; your identity.</p>
		<p>In Ireland it is not easy to find the products from your home country. But they can be found now. Users
			can add their find on FoodFromHome and add it to the database, making fellow nationals, or anyone else
			loving these types of food, very happy when searching for their favourites on FoodFromHome.</p>

		<p>Starting with five countries of origin (The Netherlands, Belgium, France, Germany and Spain), the site
			can be easily extended to more countries of origin. And also, starting with Ireland as the country where the
			food should be sold, this also can be extended to many more countries of course.</p>
	</div>
    </div>
</div>
{% endblock %}