{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="row s12 m6 l6">
		<p></p>
	</div>
	<div class="row s12 m6 l6">
		<p>Your food - Your identity: FoodFromHome is a website helping you find the food you had at home, the food you
			grew up with.
			The food you would show off when living in Ireland. Because it's part of who you are; your identity.</p>
		<p>In Ireland it is not easy to find the products from your home country. But they can be found now. Users can
			add their find on FoodFromHome and add it to the database, making fellow nationals, or anyone else loving
			these
			types of food, very happy when searching for their favourites on FoodFromHome.</p>

		<p>Starting with five countries of origin (The Netherlands, Belgium, France, Germany and Spain), the site can be
			easily extended to more countries of origin. And also, starting with Ireland as the country where the food
			should
			be sold, this also can be extended to many more countries of course.</p>
	</div>
	<div class="row s12 m6 l6">
		<p></p>
	</div>
	{% endblock %}