{% extends 'base.html' %}
{% block content %}

<div class="row">
	<h3>Add Product</h3>
</div>
<div class="row">
	<form action="{{ url_for('insert_product') }}" method="POST" class="col s12">
    <div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix">view_list</i>
			<select id="category" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endfor %}
                    </select>
			<label>Product Category</label>
		</div>
    </div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">edit</i>
		<input id="product_name" name="product_name" type="text">
		<label for="icon_prefix">Product Name</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">edit</i>
		<input id="product_brand" name="product_brand" type="text">
		<label for="icon_prefix">Brand Name</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">short_text</i>
		<textarea name="product_description" id="product_description" class="materialize-textarea"></textarea>
		<label for="icon_telephone">Product Description</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">euro</i>
		<input id="product_price" name="product_price" type="text">
		<label for="icon_prefix">Product Price</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">fiber_pin</i>
		<input id="user_code" name="user_code" type="text">
		<label for="icon_prefix">Your Personal Code (to allow editing your entry later)</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">map</i>
		<input id="origin_name" name="origin_name" type="text">
		<label for="icon_prefix">Country of Origin</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">my_location</i>
		<input id="supplier_name" name="supplier_name" type="text">
		<label for="icon_prefix">Name of the Supplier where this product was found</label>
	</div>
</div>
<div class="row matfixer">
	<div class="input-field col s12">
		<i class="material-icons prefix">today</i>
		<input id="entry_date" name="entry_date" type="text" class="datepicker">
		<label for="icon_prefix">Entry Date</label>
	</div>
</div>
<div class="row">
	<button class="btn waves-effect waves-light lime darken-2" type="submit" name="action">Add Product
        <i class="material-icons right">playlist_add</i>
    </button>
</div>
</form>
</div>

{% endblock %}