<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- css and fonts -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<!-- <link rel="stylesheet" href="{{url_for('static', filename='../css/style.css')}}" type="text/css" /> -->

<title>Food From Home - 2020</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="{{url_for('get_products')}}"><img src="../static/img/FFH_logo.png" alt="Logo" class="center img-fluid mt-3"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active"> <a class="nav-link" href="{{url_for('get_products')}}">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="{{url_for('add_product')}}">Add Product</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Edit Product</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{{url_for('get_categories')}}">Administrator</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
      </ul>
    </div>
  </nav>
</header>
<div class="jumbotron-fluid">
  <h1 class="white-text center-align">Your Food - Your Identity</h1>
  <h2 class="white-text center-align">find your home favourites abroad</h2>
</div>
<div class="row mt-4">
  <div class="col-4">
    <div class="row">
      <div class="col-2">
        <p>Origin</p>
      </div>
      <div class="col-2"><a href="#"><img src="../static/img/flag-netherlands_-1.png" alt="flag-nl" class="rounded-circle img-fluid"></a><br><p align="center">NL</p></div>
      <div class="col-2"><a href="#"><img src="../static/img/flag-belgium_-1.png" alt="flag-be" class="rounded-circle img-fluid"></a><br><p align="center">BE</p></div>
      <div class="col-2"><a href="#"><img src="../static/img/flag-france_-1.png" alt="flag-fr" class="rounded-circle img-fluid"></a><br><p align="center">FR</p></div>
      <div class="col-2"><a href="#"><img src="../static/img/flag-germany_-1.png" alt="flag-de" class="rounded-circle img-fluid"></a><br><p align="center">DE</p></div>
      <div class="col-2"><a href="#"><img src="../static/img/flag-spain_-1.png" alt="flag-es" class="rounded-circle img-fluid"></a><br><p align="center">ES</p></div>
    </div>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-2">
        <p>Select Category</p>
      </div>
      <div class="col-10">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product category </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div>
        </div>
      </div>
      <div class="col-2 mt-3">
        <p>Sort by</p>
      </div>
      <div class="col-10 mt-3">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

	<div class="container"> {% block content %} {% endblock %} </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
<script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").material_select();
        $(".sidenav").sidenav();
      });

      $(".datepicker").pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: "Today",
        clear: "Clear",
        close: "Ok",
        closeOnSelect: false, // Close upon selecting a date,
      });
    </script> 
<script type="text/javascript">
      document
        .getElementById("matfixer")
        .addEventListener("click", function (e) {
          e.stopPropagation();
        });
    </script> 

<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script> 
<script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script> 
<script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
</body>
</html>
