<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- css and fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<title>Food From Home - 2020</title>
</head>

<body>
	<nav>
		<div class="nav-wrapper"><a class="brand-logo"
				href="{{url_for('get_products')}}"><img src="../static/img/FFH_logo_bg_ccf.gif" alt="Logo" class="img-fluid vert-middle"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>					
                <ul class="right hide-on-med-and-down">
					<li> <a href="{{url_for('get_products')}}">HOME</a> </li>
					<li> <a href="{{url_for('add_product')}}">ADD PRODUCT</a> </li>
					<li> <a href="{{url_for('edit_products')}}">EDIT PRODUCT</a> </li>
					<li> <a href="{{url_for('get_categories')}}">ADMIN</a> </li>
					<li> <a href="#">ABOUT</a> </li>
				</ul>
                <ul class="side-nav" id="mobile-demo">
	                <li> <a href="{{url_for('get_products')}}">HOME</a> </li>
					<li> <a href="{{url_for('add_product')}}">ADD PRODUCT</a> </li>
					<li> <a href="{{url_for('edit_products')}}">EDIT PRODUCT</a> </li>
					<li> <a href="{{url_for('get_categories')}}">ADMIN</a> </li>
					<li> <a href="#">ABOUT</a> </li>
				</ul>
		</div>
	</nav>
	<div class="jumbotron-fluid">
		<h1 class="center-align">Your Food - Your Identity</h1>
		<hr class="solid">
		<h2 class="center-align">find your home favourites in Ireland</h2>
	</div>

	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

<footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2020 Sascha Andeweg - Milestone Project 3 for CodeInstitute
            </div>
          </div>
        </footer>
            

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
        $(".dropdown-button").dropdown();
        $(".collapsible").collapsible();
        $("select").material_select();
        $(".button-collapse").sideNav();
      });

      $(".datepicker").pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: "Today",
        clear: "Clear",
        close: "Ok",
        closeOnSelect: false, // Close upon selecting a date,
      });
	</script>
</body>

</html>