{% extends 'base.html' %}
{% block content %}

<div class="row">
	<h3>Edit Products</h3>
</div>
<ul class="collapsible" data-collapsible="accordion">
	{% for product in products %}
	<li>
		<div class="collapsible-header">
			<div class="product_header col s3">
				<a href="{{url_for('delete_product', product_id=product._id)}}"
					class="waves-effect waves-light btn red lighten-3">Delete</a>
				<a href="{{url_for('edit_product', product_id=product._id)}}"
					class="waves-effect waves-light btn lime darken-2">Edit</a>
				<strong>{{product.product_brand}} {{product.product_name}}</strong> - Entry: {{product.entry_date}} -
				Category
				{{product.category_name}}
			</div>
		</div>
		<div class="collapsible-body">
			<span>
                <h3><strong>{{product.product_brand}} - 
                {{product.product_name}}</strong></h3>
                <p>Entry: {{product.entry_date}}</p>
                <p>{{product.product_description}}</p>
                </span>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}