{% extends 'base.html' %}
{% block filtering %}

<p class="center-align">Browse all products or filter on what country the product you're looking for is from or where it is loved,<br>
	  select a category and find your supplier in Ireland!</p><br>
        <div class="row">
        <form action="{{ url_for('get_filtered') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select  id="country" name="country_name">
                        <option value="" disabled selected>Country of origin</option>
                        {% for country in origin %}
                        <option value="{{country.origin_name}}" data-icon="{{country.origin_img}}" class="left circle">{{country.origin_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Select country of origin</label>
                </div>
                <div class="input-field col s12">
                    <select id="category" name="category_name">
                    <option value="" disabled selected>Category</option>
                        {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Select a category</label>
                </div>
                <button class="btn waves-effect waves-light lime darken-2" type="submit" name="action">Filter
                <i class="material-icons right">playlist_add_check</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
<div class="row">
	<h3>Your Products</h3>
</div>
<div class="container">
    <div class="row">
		{% for product in products %}
        <div class="col l3 m6 s12">
            <div class="card sticky-action">
                <div class="card-image">
                    <img src="{{product.product_img}}" alt="Image of {{product.category_name}}"><a class="btn blue btn-floating halfway-fab pulse activator material-icons">...</a>
                    <span class="card-title"><h2>{{product.category_name}}</h2></span>
                </div>
                <div class="card-content">
                    <strong>{{product.product_brand}}<br>
                    {{product.product_name}}</strong><br>
                    Entry: {{product.entry_date}}<br>
                </div>
                <div class="card-reveal">
                    <span class="card-title">{{product.product_name}}<br>
                    {{product.product_brand}}<i class="right">x</i></span>
                    <p>{{product.product_description}}<p>
                    <p>Price: <strong>{{product.product_price}}</strong></p>
                    <p>We like this in {{product.origin_name}}</strong></p>
                </div>
                <div class="card-action">
                    Found in <a>{{product.supplier_name}}</a>
                </div>
            </div>
        </div>
		{% endfor %}
        </div>
    </div>
	{% endblock %}