{% extends 'base.html' %}
{% block content %}
<p class="center-align">Select what country the product you're looking for is from or particularly popular,<br>
	  select a category and maybe sort on brand, product or other filters...<br>
	  and find a supplier in Ireland!</p>
	<div class="row">
		<div class="col s1"></div>
		<div class="col s2 center-align"><a
				href="#"><img src="../static/img/flag-netherlands_-1.png" alt="flag-nl"></a><br>
				<p class="center-align">NL</p>
		</div>
		<div class="col s2 center-align"><a
				href="#"><img src="../static/img/flag-belgium_-1.png" alt="flag-be"></a><br>
				<p class="center-align">BE</p>
		</div>
		<div class="col s2 center-align"><a
				href="#"><img src="../static/img/flag-france_-1.png" alt="flag-fr"></a><br>
				<p class="center-align">FR</p>
		</div>
		<div class="col s2 center-align"><a
				href="#"><img src="../static/img/flag-germany_-1.png" alt="flag-de"></a><br>
				<p class="center-align">DE</p>
		</div>
		<div class="col s2 center-align"><a
				href="#"><img src="../static/img/flag-spain_-1.png" alt="flag-es"></a><br>
				<p class="center-align">ES</p>
		</div>
	</div>
	<div class="row s12">
        <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            {% for category in categories %}
            <li>
                <div class="collapsible-header">
				<div class="col s12">
					<i class="material-icons">expand_more</i>
                    <strong>{{category.category_name}}</strong>
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>
                        <h2>{{category.category_name}}</h2>
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
	</div>

	<div class="row">

		<h3>Products</h3>
	</div>

<div class="container">
    <div class="card">
    <div class="card-image">
    </div>
    <div class="card-content">
    </div>
    <div class="card-reveal">
    </div>
    <div class="card-action">
    </div>
    </div>
</div>

    <div class="row s12">
	<ul class="collapsible" data-collapsible="accordion">
		{% for product in products %}
		<li>
			<div class="collapsible-header">
				<div class="col s12">
					<i class="material-icons">expand_more</i>
					<strong>{{product.product_name}}</strong> - {{product.product_date}} - Category
					{{product.category_name}}
				</div>
			</div> 
			<div class="collapsible-body">
				<span>
                    <p><strong>{{product.product_brand}}</strong> - 
                    {{product.product_name}}</p><br>
                    <p><strong>Entry date: </strong> {{product.entry_date}}</p><br>
                    <br>
                    <p>{{product.product_description}}</p><br>
                    <br>

                    </span>
			</div>
		</li>
		{% endfor %}
	</ul>
    </div>
	{% endblock %}